#divHeader {
  text-align: center;
  margin: 0 auto;
  height: 120px;
  padding-top: 2px;
}

.imgLogo {
  border-width: 125px;
  height: auto;
  width: 125px;
}

.layout-topbar {
  background-color: #EB0033!important;
  background-repeat: no-repeat;
  background-position: center;
}
